<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>862420643161-iiq99p61e6m2quiagfj4pl23t6lvk1jg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862420643161-iiq99p61e6m2quiagfj4pl23t6lvk1jg</string>
	<key>API_KEY</key>
	<string>AIzaSyBQdbHEr_EvwswTlPYCe0zwNCNc7yyffsA</string>
	<key>GCM_SENDER_ID</key>
	<string>862420643161</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.mobilea.dispatch</string>
	<key>PROJECT_ID</key>
	<string>simplycab-58808</string>
	<key>STORAGE_BUCKET</key>
	<string>simplycab-58808.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862420643161:ios:d365cdff6936e37128b048</string>
	<key>DATABASE_URL</key>
	<string>https://simplycab-58808-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>